.elementor-screen-only,
.screen-reader-text,
.screen-reader-text span,
.ui-helper-hidden-accessible {
    position: absolute;
    top: -10000em;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0
}

.elementor-clearfix:after {
    content: "";
    display: block;
    clear: both;
    width: 0;
    height: 0
}

.e-logo-wrapper {
    background: var(--e-a-bg-logo);
    display: inline-block;
    padding: .75em;
    border-radius: 50%;
    line-height: 1
}

.e-logo-wrapper i {
    color: var(--e-a-color-logo);
    font-size: 1em
}

.elementor *,
.elementor :after,
.elementor :before {
    box-sizing: border-box
}

.elementor a {
    box-shadow: none;
    text-decoration: none
}

.elementor hr {
    margin: 0;
    background-color: transparent
}

.elementor img {
    height: auto;
    max-width: 100%;
    border: none;
    border-radius: 0;
    box-shadow: none
}

.elementor .elementor-widget:not(.elementor-widget-text-editor):not(.elementor-widget-theme-post-content) figure {
    margin: 0
}


.elementor-section {
    position: relative
}

.elementor-section .elementor-container {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    position: relative
}




.elementor-kit-137 {
    --e-global-color-primary: #06622F;
    --e-global-color-secondary: #223645;
    --e-global-color-text: #223645;
    --e-global-color-accent: #D28516;
    --e-global-color-fc28385: #3E883A;
    --e-global-color-21bfb04: #FFFFFF;
    --e-global-color-ad41708: #F8F8F8;
    --e-global-color-57a29b1: #D9D9D9;
    --e-global-color-d345fd2: #A7A7A7;
    --e-global-color-08fcc9d: #787878;
    --e-global-color-e5e9561: #292929;
    --e-global-color-f06adda: #111111;
    --e-global-color-3a8f27d: #FA0368;
}

.elementor-section.elementor-section-boxed>.elementor-container {
    max-width: 1140px;
}



.elementor-18 .elementor-element.elementor-element-709bd28e .elementor-menu-toggle {
    margin-left: auto;
    background-color: #FFFFFF;
}

.elementor-18 .elementor-element.elementor-element-709bd28e .elementor-nav-menu .elementor-item {
    font-family: var(--e-global-typography-ba6914a-font-family), Sans-serif;
    font-size: var(--e-global-typography-ba6914a-font-size);
    font-weight: var(--e-global-typography-ba6914a-font-weight);
    line-height: var(--e-global-typography-ba6914a-line-height);
    letter-spacing: var(--e-global-typography-ba6914a-letter-spacing);
    word-spacing: var(--e-global-typography-ba6914a-word-spacing);
}

.elementor-18 .elementor-element.elementor-element-709bd28e .elementor-nav-menu--main .elementor-item {
    color: var(--e-global-color-21bfb04);
    fill: var(--e-global-color-21bfb04);
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.elementor-18 .elementor-element.elementor-element-709bd28e {
    --e-nav-menu-horizontal-menu-item-margin: calc(24px / 2);
    z-index: 80;
}

.elementor-18 .elementor-element.elementor-element-709bd28e .elementor-nav-menu--main>.elementor-nav-menu>li>.elementor-nav-menu--dropdown,
.elementor-18 .elementor-element.elementor-element-709bd28e .elementor-nav-menu__container.elementor-nav-menu--dropdown {
    margin-top: 15px !important;
}

.elementor-18 .elementor-element.elementor-element-709bd28e div.elementor-menu-toggle {
    color: #16163f;
}

.elementor-18 .elementor-element.elementor-element-709bd28e div.elementor-menu-toggle svg {
    fill: #16163f;
}

.elementor-18 .elementor-element.elementor-element-709bd28e div.elementor-menu-toggle:hover {
    color: var(--e-global-color-fc28385);
}

.elementor-18 .elementor-element.elementor-element-709bd28e div.elementor-menu-toggle:hover svg {
    fill: var(--e-global-color-fc28385);
}

.elementor-18 .elementor-element.elementor-element-709bd28e>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 15px 0px 15px 0px;
    background-color: var(--e-global-color-primary);
    border-style: solid;
    border-color: var(--e-global-color-primary);
    border-radius: 15px 15px 15px 15px;
}


@media(min-width:768px) {
    .elementor-18 .elementor-element.elementor-element-7fb7b80b {
        width: 16.533%;
    }

    .elementor-18 .elementor-element.elementor-element-73201238 {
        width: 62.679%;
    }

    .elementor-18 .elementor-element.elementor-element-59f96e23 {
        width: 20.452%;
    }
}

/*! elementor - v3.17.0 - 01-11-2023 */
.elementor-widget-image{text-align:center}.elementor-widget-image a{display:inline-block}.elementor-widget-image a img[src$=".svg"]{width:48px}.elementor-widget-image img{vertical-align:middle;display:inline-block}